html: {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
}

header {
  background-color: #222;
}

main {
  flex: 1;
}

h1,
.grid__item > p,
.grid__item > h4 {
  margin-top: 0;
}

svg {
  height: 1em;
}

footer {
  border-top: 1px solid #222;
}