.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 1360px;
  min-height: 100vh;
}

/* header styles */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__heading--header {
  color: #fff;
  margin-left: 20px;
}

.nav__list--header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 50px;
  list-style-type: none;
  margin-right: 20px;
  padding: 0;
}

/* main styles */

.main--home,
.main--contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 20px;
}

.main--portfolio {
  padding: 20px 0;
}

.intro {
  margin: 0 auto;
  width: 80%;
}

.grid--portfolio {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 400px;
  grid-gap: 20px;
  grid-auto-rows: 400px;
  grid-auto-columns: 300px;
  align-content: center;
  justify-content: start;
}

.grid__item {
  display: flex;
  flex-direction: column;
}

.item__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.item__meta {
  flex: 1;
}

.item__flex {
  border-top: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* footer styles */

.nav__list--footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
}

/* media screen styles */

@media screen and (max-width: 960px) {
  .grid--portfolio {
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 400px);
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    flex-direction: column;
  }

  .nav__heading--header {
    margin: 0;
    margin-top: 1em;
  }

  .nav__list--header {
    margin-right: 0;
  }

  .main--home,
  .main--about,
  .main--contact,
  .main--portfolio {
    padding: 20px;
  }

  .grid--portfolio {
    justify-content: center;
  }
}