<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} · {% endif %}Daniel Munoz{% if page.titleafter %} · {{ page.titleafter }}{% endif %}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      {% include nav.html %}
    </header>
    <main {% if page.mainclass %}class="{{ page.mainclass }}"{% endif %}>
      {{ content }}
    </main>
    <footer>
      <nav>
        <ul class="nav__list--footer">
          <li class="nav__item--footer"><a class="nav__link--footer" href="https://github.com/planeswalker1">Github</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</body>
</html>